.all-home{
    direction:rtl;
}


     /*End Boxes*/*/*/*/*/
.footer{
    text-align:center;
    background:linear-gradient(to right, #0c315b,#4d77b7);
    margin-bottom:-8px;
}
.ftitle{
    font-size:40px;
    font-family:'Arabic Typesetting';
    font-weight: bold;
}
