





















































./*companys{
    text-align:center;
}
.one_company{
    margin-bottom:18px;
    margin-right:10px;
    margin-left:10px;
    border:double;
    background-color:#c0c0c042;
    
}
.ncompany{
    font-size:24px;
    color:#103858;
    font-weight:bold;
}
.content{
    font-size:20px;
    font-family:'Segoe UI' ;
}*/
